<header>
  <div class="header-config-1">
    <div class="header-config-2">
      <div class="header-config-3">
        <mat-toolbar class="mat-elevation-z4 align-center pad-right-40 pad-left-40">
          <div class="ts-left-menu">
            <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" (click)="toggleSidenav()">
              <mat-icon>menu</mat-icon>
            </button>
          </div>
          <div class="ts-logo align-center">
            <a id="menuTitle" [routerLink]="logoRouterLink">{{ isLoggedIn() ? 'Servitium Hub' : 'Servitium Hub' }}</a>
          </div>
          <ng-container *ngIf="showSearchBar">
          </ng-container>
          <button mat-icon-button class="mobile-menu-icon" (click)="toggleMobileMenu()">
            <mat-icon>menu</mat-icon>
          </button>
          <div class="ts-center-menu align-center" [ngClass]="{'mobile-menu-open': mobileMenuOpen}">
            <ul class="menu-list">
              <li *ngFor="let item of centerMenuItems | async">
                <a mat-button (click)="scrollTo(item.routerLink)">{{ item.label }}</a>
              </li>
            </ul>
          </div>
          <div class="ts-right-menu" [ngClass]="{'mobile-menu-open': mobileMenuOpen}">
            <ng-container *ngFor="let item of rightMenuItems | async">
              <a mat-button [routerLink]="item.routerLink">{{ item.label }}</a>
            </ng-container>
          </div>
        </mat-toolbar>
      </div>
    </div>
  </div>
</header>
