<header>
  <div class="header-config-1">
    <div class="header-config-2">
      <div class="header-config-3">
        <mat-toolbar class="mat-elevation-z4 align-center pad-right-40 pad-left-40">

          <div class="ts-left-menu">
            <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with menu icon">
              <mat-icon>menu</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item *ngFor="let item of rightMenuItems">
                <a mat-button [routerLink]="item.routerLink">{{ item.label }}</a>
              </button>
            </mat-menu>
          </div>

          <div class="ts-logo align-center">
            <a id="menuTitle" [routerLink]="logoItem.home.url">{{ logoItem.home.label }}</a>
          </div>

          <div class="ts-center-menu align-center justify-center">
            <ul class="menu-list">
              <li *ngFor="let item of centerMenuItems">
                <a mat-button (click)="scrollTo(item.routerLink)">{{ item.label }}</a>
              </li>
            </ul>
          </div>

          <div class="ts-right-menu align-center justify-end">
            <a *ngFor="let item of rightMenuItems">
              <a mat-button [routerLink]="item.routerLink">{{ item.label }}</a>
            </a>
          </div>

        </mat-toolbar>
      </div>
    </div>
  </div>
</header>
