.header-config-1 {
  height: 64px;
}

.header-config-2 {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 3;
  height: 64px;
}

.header-config-3 {
  width: 100%;
  transition: all 400ms ease;
  margin: 0 auto;
  border-bottom: 1px solid transparent;
  background: var(--header-bg-color);
  height: 64px;
}

mat-toolbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
  background-color: var(--header-bg-color);
}

.ts-left-menu {
  display: flex;
  align-items: center;
}

.ts-logo {
  flex: 0;
  justify-content: start;
  margin-right: 28px;
  margin-left: 8px;
}

.ts-center-menu {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
}

.ts-right-menu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.menu-list {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu-list li {
  margin-right: 20px;
}

.menu-list li a {
  text-decoration: none;
  color: inherit;
}

.menu-list li a:hover {
  text-decoration: none;
}

#menuTitle {
  font-size: x-large;
  text-decoration: none;
  padding-left: 16px;
  color: inherit;
}

.mobile-menu-icon {
  display: none;
}

.mobile-menu-open {
  display: flex !important;
  flex-direction: column;
  align-items: center;
}

@media (max-width: 1200px) {
  mat-toolbar {
    padding: 0 20px;
  }

  .menu-list li {
    margin-right: 10px;
  }

  #menuTitle {
    font-size: 1.5rem;
  }
}

@media (max-width: 768px) {
  mat-toolbar {
    flex-direction: row;
    padding: 0 10px;
    height: 64px;
    justify-content: space-between;
  }

  .ts-left-menu {
    display: none;
  }

  .mobile-menu-icon {
    display: flex;
  }

  .ts-center-menu {
    display: none;
    flex-direction: column;
    align-items: center;
    width: 100%;
    position: absolute;
    top: 64px;
    left: 0;
    background-color: var(--header-bg-color);
    z-index: 2;
  }

  .mobile-menu-open .ts-center-menu {
    display: flex;
  }

  .ts-right-menu {
    display: none;
    flex-direction: column;
    align-items: center;
    width: 100%;
    position: absolute;
    top: 232px;
    left: 0;
    background-color: var(--header-bg-color);
    z-index: 2;
  }

  .mobile-menu-open .ts-right-menu {
    display: flex;
  }

  .menu-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 0;
    margin: 0;
  }

  .menu-list li {
    margin: 10px 0;
    width: 100%;
  }

  .ts-right-menu a {
    margin: 8px 0;
  }

  .menu-list li a {
    display: block;
    width: 100%;
    text-align: center;
    padding: 10px 0;
  }

  #menuTitle {
    font-size: 1.5rem;
  }
}

@media (max-width: 480px) {
  mat-toolbar {
    padding: 0 5px;
    height: 64px;
  }

  .menu-list li {
    margin: 0.5rem 0;
  }

  .menu-list li a {
    font-size: 0.875rem;
  }

  #menuTitle {
    font-size: 1.25rem;
  }
}
