.hero-container {
  display: flex;
  position: relative;
  height: calc(100vh - 64px);
  overflow: hidden;
  align-items: center;
  justify-content: center;
}

.hero-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}

.content-wrapper {
  position: relative;
  z-index: 2;
  text-align: center;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  padding: 0 20px;
}

.slogan {
  font-size: 3em;
  margin: 0;
}

.sub-slogan {
  padding: 1em;
  font-size: 1.5em;
  margin: 10px 0 20px 0;
}

.search-bar-container {
  left: 50%;
  width: 50%;
  padding: 0 20px;
  box-sizing: border-box;
}

@media (max-width: 768px) {
  .slogan {
    font-size: 2em;
  }

  .sub-slogan {
    font-size: 1.2em;
  }

  .search-bar-container {
    width: 90%;
    max-width: 100%;
    padding: 0 10px;
  }
}
