<mat-horizontal-stepper #stepper labelPosition="bottom">
  <mat-step label="Step 1 of 3">
    <div class="step-content">
      <div class="left-column">
        <div class="service-selection">
          <h4>Select Service</h4>
          <div class="service-tabs">
            <mat-radio-group (change)="onServiceChange($event.value)">
              <mat-radio-button *ngFor="let service of services" [value]="service">
                {{ service.name }}
              </mat-radio-button>
            </mat-radio-group>
          </div>

          <div *ngIf="selectedService">
            <h5>{{ selectedService.name }}</h5>
            <mat-radio-group (change)="onDescriptionChange($event.value)">
              <mat-radio-button *ngFor="let description of [selectedService.description]" [value]="description">
                {{ description }}
              </mat-radio-button>
            </mat-radio-group>
          </div>
        </div>
      </div>

      <div class="right-column">
        <h6>{{ company.name }}</h6>
        <div *ngIf="company.locations.length > 0">
          <p>{{ company.locations[0].addressLine1 }} | {{ company.locations[0].addressLine2 }}</p>
          <p>{{company.locations[0].city.name}}</p>
        </div>
        <p *ngIf="selectedService && selectedDescription">
          {{ selectedDescription }}
        </p>
        <button mat-raised-button color="primary" (click)="goToNext()" [disabled]="!selectedService || !selectedDescription">Continue</button>
      </div>
    </div>
  </mat-step>

  <mat-step label="Step 2 of 3">
    <div class="step-content">
      <div class="left-column">
        <div class="date-picker-wrapper">
          <mat-form-field appearance="fill" class="date-picker-field">
            <mat-label>Select a Date</mat-label>
            <input
              matInput
              [matDatepicker]="datepicker"
              (dateChange)="onDateChange($event.value)"
              [value]="selectedDate ? selectedDate : ''"
              placeholder="MM/DD/YYYY"
            />
            <mat-datepicker-toggle matSuffix [for]="datepicker">
              <mat-icon matDatepickerToggleIcon>calendar_today</mat-icon>
            </mat-datepicker-toggle>
            <mat-datepicker #datepicker></mat-datepicker>
          </mat-form-field>
        </div>

        <div class="calendar-time-wrapper">
          <mat-calendar (selectedChange)="onDateChange($event)"></mat-calendar>
          <div class="time-selection" *ngIf="availableTimes.length > 0">
            <h4>Select Time</h4>
            <mat-list>
              <mat-list-item *ngFor="let time of availableTimes">
                <mat-radio-button [value]="time" (change)="onTimeChange(time)">
                  {{ time }}
                </mat-radio-button>
              </mat-list-item>
            </mat-list>
          </div>
          <div *ngIf="availableTimes.length === 0">
            <p>No available times for the selected date.</p>
          </div>
        </div>
      </div>

      <div class="right-column">
        <h6>{{ company.name }}</h6>
        <div *ngIf="company.locations.length > 0">
          <p>{{ company.locations[0].addressLine1 }} | {{ company.locations[0].addressLine2 }}</p>
          <p>{{ company.locations[0].city.name }}</p>
        </div>
        <p *ngIf="selectedService && selectedDescription">
          {{ selectedDescription }}
        </p>
        <p *ngIf="selectedDate && selectedTime">
          <strong>Selected Date and Time:</strong> {{ formatDate(selectedDate, 'shortDate', 'en-US') }} at {{ selectedTime }}
        </p>
        <button mat-raised-button color="primary" (click)="goToNext()" [disabled]="!selectedDate || !selectedTime">
          Continue
        </button>
      </div>
    </div>
  </mat-step>

  <mat-step label="Step 3 of 3">
    <div class="step-content">
      <div class="left-column">
        <div *ngIf="!isLoggedIn">
          <h2>Create account to continue</h2>
          <button mat-raised-button color="primary" (click)="router.navigate(['/auth/signup/clients'])">Sign up</button>
          <p>Already have an account?</p>
          <a routerLink="/auth/login">Log in now</a>
        </div>
        <div *ngIf="isLoggedIn">
          <h2>Complete Reservation</h2>
          <p *ngIf="company.locations.length > 0">
            {{ company.locations[0].addressLine1 }} | {{ company.locations[0].addressLine2 }}
            <br>{{ company.locations[0].city.name }}
          </p>
          <p *ngIf="selectedService && selectedDescription">
            {{ selectedDescription }}
          </p>
          <p *ngIf="selectedDate && selectedTime">
            <strong>Selected Date and Time:</strong> {{ formatDate(selectedDate, 'shortDate', 'en-US') }} at {{ selectedTime }}
          </p>
        </div>
      </div>
      <div class="right-column">
        <h6>{{ company.name }}</h6>
        <div *ngIf="company.locations.length > 0">
          <p>{{ company.locations[0].addressLine1 }} | {{ company.locations[0].addressLine2 }}</p>
          <p>{{ company.locations[0].city.name }}</p>
        </div>
        <p *ngIf="selectedService && selectedDescription">
          {{ selectedDescription }}
        </p>
        <p *ngIf="selectedDate && selectedTime">
          <strong>Selected Date and Time:</strong> {{ formatDate(selectedDate, 'shortDate', 'en-US') }} at {{ selectedTime }}
        </p>
        <button mat-raised-button color="primary" (click)="addReservation()">
          Make Reservation
        </button>
      </div>
    </div>
  </mat-step>
</mat-horizontal-stepper>
