@import "variables";

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100%;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  -webkit-text-size-adjust: 100%;
  color: #000000;
}

#wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

footer {
  height: 80px;
  padding: 0 40px;
  background-color: var(--footer-bg-color);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: auto;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

body {
  margin: 0;
  font-size: clamp(1rem, 1.5vw, 1.25rem);
  background: #ffffff;
  color: #000000;
}

// Utility classes
.div-height-100 {
  height: 100%;
}

.div-width-100 {
  width: 100%;
}

.div-config-1 {
  left: -10000px;
  top: -10000px;
  position: absolute;
  box-sizing: border-box;
}

.div-config-2 {
  display: flex;
  position: relative;
  min-width: 100%;
  flex-direction: column;
}

* {
  -webkit-font-smoothing: antialiased;
}

// Core component styles
app-core {
  display: block;
}

header {
  display: block;
  unicode-bidi: isolate;
}

app-home-page {
  display: block;
  padding: 0;
}

hero {
  padding: 0;
}

.mt-15 {
  margin-top: 15px;
}

.mt-25 {
  margin-top: 25px;
}

.mb-15 {
  margin-bottom: 15px;
}

.mb-25 {
  margin-bottom: 25px;
}

.wrap {
  flex-wrap: wrap;
}

.gap-1 {
  gap: 1rem;
}

.gap-2 {
  gap: 2rem;
}

.gap-05 {
  gap: 0.5rem;
}

.pad-right-40 {
  padding-right: 40px;
}

.pad-left-40 {
  padding-left: 40px;
}

.space-between {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.full-center {
  align-items: center;
  justify-content: center;
}

.justify-end {
  justify-content: flex-end;
}

.justify-start {
  justify-content: flex-start;
}

.hidden {
  display: none;
}

.disabled {
  pointer-events: none;
  opacity: 0.5;
}

.custom-snackbar {
  .mat-mdc-snack-bar-container .mdc-snackbar__surface {
    border-radius: 8px !important;
  }

  .mat-mdc-button.mat-mdc-snack-bar-action {
    color: #abc7ff !important;
  }
}

.snackbar-success {
  .mdc-snackbar__surface {
    background-color: #28a745 !important;
  }

  .mdc-snackbar__label {
    color: #fff !important;
  }
}

.snackbar-error {
  .mdc-snackbar__surface {
    background-color: #f44336 !important;
  }

  .mdc-snackbar__label {
    color: #fff !important;
  }
}
