<mat-sidenav-container class="example-container">
  <mat-sidenav #sidenav class="example-sidenav" mode="over">
    <mat-nav-list>
      <ng-container *ngIf="(isLoggedIn$ | async); else loggedOut">
        <a mat-list-item (click)="logout()">Log out</a>
      </ng-container>
      <ng-template #loggedOut>
        <a mat-list-item [routerLink]="'/auth/signup/clients'">Sign up</a>
        <a mat-list-item [routerLink]="'/auth/login'">Log in</a>
        <a mat-list-item [routerLink]="'/auth/signup/owners'">Create a professional account</a>
      </ng-template>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div id="wrapper" class="div-config-2">
      <app-header></app-header>
      <div>
        <router-outlet></router-outlet>
      </div>
      <app-footer></app-footer>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
